################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestApi/.vs/RestApi/v15
/RestApi/RestApi/bin/Debug/netcoreapp2.1
/RestApi/RestApi/obj/Debug/netcoreapp2.1
